h1 {
	margin-left: 5px;
	color: white;
	font-size: 25px;
}

h2 {
	margin-left: 15px;
	color: firebrick;
	font-size: 27px;
}

h3 {
    color: white;
}

input[type=text] {
	width: 350px;
	height: 25px;
	color: white;
    background-color: #292929;
}

input[type=text]:focus {
	border: 2px solid #555;
}

input[type=submit]{
	width: 150px;
	height: 35px;
    text-align: center;
	margin-left: 480px;
	background-color: #6687a2;
	border-color: #6687a2;
	color: white;
}

label {
    color: white;
}

body {
	background-color: #292929;
}

.position-static {
	margin-left: 25px;
}

.row {
	padding: 5px;
}

hr {
	background-color: white;
}