h1 {
	color: white;
	font-size: 105px;
}

h6 {
	color: lightblue;
	font-size: 20px;
	font-family: Verdana;
}

form {
	padding: 150px;
	text-align: center;
}

input[type=text] {
	width: 450px;
	height: 35px;
	border-radius:25px;
}

input[type=text]:focus {
	border: 2px solid #555;
}

input[type=submit]{
	width: 100px;
	height: 35px;
}

body {
	background-color: #292929;
}