$color1: red;
$color2: blue;

ul {
    font-size: 14px;
    color: $color1;
}

ol {
    font-size: 18px;
    color: $color2;
}

div {
    font-size: 18px;

    p {
        color: blue;
    }

    ul {
        color: green;
    }
}
