{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <table class="table">
        <tbody>
            {% for listing in listings %}
            <tr>
                <td width="400px">
                    <img src="{{ listing.imgURL }}" class="img-thumbnail" height="200px" width="200px">
                </td>
                <td>
                    <h3>{{ listing.title }}</h3><br>
                    <strong>Price:</strong> {{ listing.starting_bid }}€
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}