{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <table class="table">
        <tbody>
            {% for listing in listings %}
            <tr>
                <td width="400px">
                    <img src="{{ listing.imgURL }}" class="img-thumbnail" height="200px" width="200px">
                </td>
                <td>
                    <h3><a href="{% url 'listing' id=listing.listing_id %}">{{ listing.title }}</a></h3><br>
                    <!--TODO: Make the price here depend on the last bid-->
                    <strong>Price:</strong> {{ listing.starting_bid }}€
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}