{% extends "auctions/layout.html" %}

{% block body %}
    <h2>listing: {{ listing.title }}</h2>
    {% if user.is_authenticated %}
        <!--TODO: Make the button add the listing to watchlist-->
        <div>
            <button class="btn btn-primary" onclick="toWatchlist" value="Watchlist"></button>
        </div>
    {% endif %}

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <img src="{{ listing.imgURL }}" class="img-thumbnail" height="200px" width="200px">
    <p>{{ listing.description }}</p>
    {% if last_bid %}
        <h3>Last bid posted by {{ last_bid.user }}: {{ last_bid.amount }}€</h3>
    {% else %}
        <h3>Last bid posted by {{ listing.author }}: {{ listing.starting_bid }}€</h3>
    {% endif %}

    <!-- Only show form to place a bid is the user is authenticated -->
    <!--TODO: Update last bid (check if the bis is higher, if not => error) -->
    {% if user.is_authenticated %}
        <form action="{% url 'bid' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <input autofocus class="form-control" type="text" name="amount" placeholder="Bid">
                <input type="hidden" name="listing_id" value="{{ listing.listing_id }}">
            </div>
            <input class="btn btn-primary" type="submit" value="Place Bid">
        </form>
    {% endif %}

    <h3>Details</h3>
    <ol>
        <li>Listed by: {{ listing.author }}</li>
        <li>Category: {{ listing.category }}</li>
    </ol>
    
{% endblock %}